<% 
# Set up layout variables 
@body_id = "register"
@body_classes = "access"
@hide_header = true;
%>

<!--// CONTAINER //-->
<div id="container">
	<h1><span>CompleteSet</span></h1>
	<div id="content" class="wrapper">
    <%= form_for @user, html: {class: "registration_form"} do |f| %>
    
      <% if @user.errors.any? %>
        <% error_string = @user.errors.full_messages.join(", ") %>
        <script>
          //Show user errors
          showGrowl("<%= error_string %>", "error");
        </script>
      <% end %>
    
      <h2>Sign Up With Email</h2>
      <ul>
      <!--// FIRST NAME //-->
      <li class="first_name_field">
        <span class="field">
        <%= f.text_field :first_name, :placeholder => "First Name" %>
        <p class="error_message"></p>
        </span>
      </li>
      <!--// LAST NAME //-->
      <li class="last_name_field">
        <span class="field">
        <%= f.text_field :last_name, :placeholder => "Last Name" %>
        <p class="error_message"></p>
        </span>
      </li>
      <!--// EMAIL ADDRESS //-->
      <li class="email_address_field">
        <span class="field">
        <%= f.text_field :email, :placeholder => "Email Address" %>
        <p class="error_message"></p>
        </span>
      </li>
      <!--// PASSWORD //-->
      <li class="password_field">
        <span class="field">
        <%= f.password_field :password, :placeholder => "Password" %>
        <p class="error_message"></p>
        </span>
      </li>
      <!--// PASSWORD CONFIRMATION //-->
      <li class="password_field">
        <span class="field">
        <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
        <p class="error_message"></p>
        </span>
      </li>  
      </ul>
      <div class="form_footer">
        <div class="form_footer_buttons">
        <button type="submit" name="signup"><span class="ss-icon">checkmark</span>Sign Up</button>
        </div>
      </div>
		<% end %>
	</div>
	<br class="clear" />
</div>

<script>
  //Page specific script
  $(".registration_form").submit(function(){
    //Get all of the data
    var first = $(".registration_form #user_first_name").val();
    var last = $(".registration_form #user_last_name").val();
    var email = $(".registration_form #user_email").val();
    var password = $(".registration_form #user_password").val();
    var password_confirmation = $(".registration_form #user_password_confirmation").val();
    
    //Check name
    if( isBlank( first ) || isBlank( last ) ){
      showGrowl("You must specify your full name.", "error");
      return false;
    }
    
    //Check email
    if( isBlank( email ) || !isEmail( email ) ){
      showGrowl("You must provide a valid email address.", "error");
      return false;
    }
    
    //Check the password
    if( isBlank( password ) ){
      showGrowl('You must create a password.', "error");
      return false;
    }
    else if( password != password_confirmation ){
      showGrowl('Passwords must match.', "error");
      return false;
    }
    
    //Send everything to the back end
    showIndicator();
    $.ajax({
      type: "POST",
      url: "<%= users_path %>",
      data: { 'user': { 'first_name': first, 
                       'last_name':last, 
                       'email':email, 
                       'password':password, 
                       'password_confirmation':password_confirmation } },
      dataType: "json",
      success: function( response, status, xhr )
      { 
        hideIndicator();
        if( response.status == 'Success' ){
          //They have been registered, send them on to the welcome page
          showGrowl(response.message, "success");
          goTo('<%= users_path %>');
        }
        else{
          showGrowl( response.message, "error" );
        }
        
      },
      error: function( xhr, status, error ){
        hideIndicator();
        showGrowl("An error occurred. Please refresh and try again.", "error");
      }
    });
  
    return false;
  });

  
</script>