<% 
# Set up layout variables 
@body_id = "login"
@body_classes = "access"
@hide_header = true;
%>

<!--// CONTAINER //-->
<div id="container">
	<h1><span>CompleteSet</span></h1>
	<div id="content" class="wrapper">
    
    <%= form_for( @user, as: :user, url: login_process_path, method: :post, html: { class: "login_form" } ) do |f| %>
      
      <h2>Log In To Collect</h2>
    
      <!--// STANDARD LOGIN //-->
		  <ul class="standard_login">
        <!--// EMAIL //-->
        <li class="email_field">
          <span class="field">
            <%= f.text_field :email, :placeholder => "Email Address" %>
          <p class="error_message"></p>
          </span>
        </li>
      
        <!--// PASSWORD //-->
        <li class="password_field">
          <span class="field">
            <%= f.password_field :password, :placeholder => "Password" %>
            <p class="error_message"></p>
          </span>
        </li>
      
        <!--// BYPASS //-->
        <li class="bypass">
          <p>
          Need an account? <%= link_to "Join", new_user_path %>
          </p>
        </li>
        </ul>
        <div class="form_footer">
          <div class="form_footer_buttons">
            <button type="submit" name="login"><span class="ss-icon">checkmark</span>Log In</button>
          </div>
        </div>
    <% end %>
    </div>
	<br class="clear" />
</div>

<script>
  //Page specific scripts
  $(".login_form").submit(function(){

    //Get info from form
    var email = $(".login_form #user_email").val();
    var password = $(".login_form #user_password").val();
  
    //Check that they're both there
    if( isBlank( email ) || isBlank( password ) ){
      showGrowl("Missing email or password.", 'error');
      return false;
    }
    
    //Pass on to back end
    showIndicator();
    $.ajax({
      type: "POST",
      url: "<%= login_process_path %>",
      data: { 'user': { 'email': email, 'password': password } },
      dataType: "json",
      success: function( response, status, xhr )
      { 
        hideIndicator();
        if( response.status == 'Success' ){
          showGrowl( response.message, "success" );
          goTo( '<%= users_path %>' );
          
        }
        else{
          showGrowl( response.message, "error" );
          if( response.log )
            console.log( response.log );
        }
        
      },
      error: function( xhr, status, error ){
        hideIndicator();
        showGrowl("An error occurred. Please refresh and try again.", "error");
      }
    });
    
    return false; //Prevent page refresh
  
  });
  
</script>